this is admin file
  Last name:<br>
  <input type="text" name="lastname">
    Village:<br>
  <input type="text" name="lastname">
</form>

<p>Note that the form itself is not visible.</p>

<p>Also note that the default width of a text input field is 20 characters.</p>

</body>